<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1642094105.2300529</real>
	<key>UUID</key>
	<string>48C4DED7-DD7D-46C1-A8CD-D8D6B3400D6E</string>
</dict>
</plist>
