<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>petal width (cm)
petal length (cm)
petal length
petal length = 1.0836 + 2.2299petal width

petal width (cm)
petal length (cm)
petal length

petal width (cm)
petal length (cm)
petal length
closest_length
new_length

petal width (cm)
petal length (cm)
petal length
closest length
new_length
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
