<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1641576098.2709842</real>
	<key>UUID</key>
	<string>43352E36-0017-4823-8F2C-ADD60DE5E6CA</string>
</dict>
</plist>
