<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>x
y
y
y
PC1
PC2
(7.7, 9.2)

x_{new}
y_{new}
y2
y2
(4.9,1.1)
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
